:root {
    --main-bg-color: #ffffff;
    --figure-bg-color: #71c6c6;
    --figure-outline-color: #71c6c6;
    --theme-text: #71c6c6;
    --title-font: 'Allerta Stencil', sans-serif;
    --theme-font: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #50555c;
}

h1 {
    height: 90px;
    line-height: 90px;
    font-family: var(--title-font);
    font-size: 450%;
    background-color: var(--figure-bg-color);
    padding-left: 6.5%;
    padding-right: 2.5%;
    margin: 1.5% 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    float: right;
    min-width: 475px;
    padding-right: 15%;
}

nav a {
    color: var(--theme-text);
    font-family: var(--theme-font);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Place the theme title at the bottom-right over the theme image.
class "theme-image" is a container holding the image and the text.*/

.theme-image {
    width: auto;
    display: flex;
    position: relative;
    
}

.theme-image img {
    width: 100%;
    height: auto;
}

.theme-image h2 {
    position: absolute;
    bottom: 15px;
    right: 30px;

    font-family: var(--theme-font);
    font-weight: 400;
    font-size: 120%;

    background-color: var(--figure-bg-color);
    padding: 0.5%;
}

/*
.theme-image img {
    
}
/* biography section added a bio-photo of myself above 
the introductory paragraph */

.about {
    display: flex;
    margin: 2%;

}

.work {
    display: flex;
    margin: 2%;

}

.contact {
    display: flex;
    height: 150px;
    margin: 2%;
}

.title-aside {
    width: 400px;
    line-height: 150%;
    margin-left: 2%;
    padding-right: 2%;
    
    font-family: var(--theme-font);
    font-weight: 700;
    font-size: 200%;
    border-right: solid;
    border-right-width: 3px;
    text-align: right;
}

/* need to consolidate repetitive attribute in below 3 sections */

.section-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    width: 900px;
    margin-left: 2%;
}

.section-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 900px;
    margin-left: 2%;
}

.section-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 150px;
    margin-left: 2%;
}

.about img {
    width: auto;
    padding-bottom: 1%;
}

.about p {
    font-family: var(--theme-font);
    line-height: 150%;
}

/* work section configuration */

/* what does the below code do? */

.section-work img {
    width: 100%;
}

.large {
    position: relative;
    margin-bottom: 10px;
}

.large ul {
    background-color: var(--figure-bg-color);
    position: absolute;
    bottom: 30px;
    padding: 5px 30px 5px 20px;
    font-family: var(--theme-font);
    line-height: 20px;
}

.large img {
    border: solid 8px var(--figure-outline-color);
    opacity:0.5;
    transition: 0.5s ease;
}

.large img:hover {
    opacity:1;
    transition: 0.5s ease
}

.small {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.small ul {
    background-color: var(--figure-bg-color);
    position: absolute;
    bottom: 30px;
    padding: 5px 30px 5px 20px;
    font-family: var(--theme-font);
    line-height: 20px;
}

.small img {
    border: solid 8px var(--figure-outline-color);
    opacity:0.5;
    transition: 0.5s ease;
}

.small img:hover {
    opacity:1;
    transition: 0.5s ease
}


h3 {
    font-size: 100%;
}

h4 {
    font-size: 80%;
    font-weight: 400;
}





.contact ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 0%;
    
}

.contact a {
    height: 30px;
    line-height: 50px;
    color: black;
    font-family: var(--theme-font);
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;

}





@media screen and (max-width: 992px) {
    header {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    h1 {
        height: auto;
        padding: 1% 5%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    nav ul {
        padding: 0%;
        margin-top: 6%;
        margin-bottom: 3%;
    }

    .about {
        flex-direction: column;
        margin: 0%;
        margin-top: 3%;
    }

    .title-aside {
        width: 100%;
        line-height: 150%;
        margin-left: 0%;
        padding-right: 0%;
        
        font-family: var(--theme-font);
        font-weight: 700;
        font-size: 200%;
        border-right: none;
        border-right-width: 0px;
        text-align: center;
    }

    .section-about {
        margin: 0%;
        width: 100%;
    }

    .section-about img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }

    .section-about p {
        padding: 3% 5%;
    }

    .work {
        flex-direction: column;
        margin: 0%;
        margin-top: 3%;
    }

    .section-work {
        margin-left: 0%;
        width: 100%;
    }

    .small {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .contact {
        flex-direction: column;
        margin: 0%;
        margin-top: 3%;
        text-align: center;
    }

    .section-contact {
        max-width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 5% 0;
       
    }
}


@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
        height: auto;
        width: auto;

    }

    h1 {
        height: auto;
        padding: 2% 2%;
        margin-bottom: 3%;
        margin-top: 12%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;

        padding-left: 0%;
        padding-right: 0%;
        margin-top: 2%;
        margin-bottom: 4%;
        line-height: 250%;
    }

    .contact {
        height: 300px;
    }

    .contact ul {
        flex-direction: column;
    }
}